.app {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.board-wrapper {
    width: 100%;
}

.board {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.board-square {
    margin: 5px;
    line-height: 0;
    min-width: 30%;
}

.board-square button {
    appearance: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 5px;
    background-color: #ddd;
}

.board-square--x button {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%20100%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%20%20%20%20%20%20%20%20%3Cg%20stroke%3D%22blue%22%20stroke-width%3D%225%22%20vector-effect%3D%22non-scaling-stroke%22%20fill%3D%22none%22%20%20stroke-linecap%3D%22round%22%20%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M20%2020L80%2080%22%20%2F%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M80%2020L20%2080%22%20%2F%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%0D%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0D%0A%20%20%20%20%3C%2Fsvg%3E);
    background-size: 100%;
}

.board-square--o button {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%20100%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%20%20%20%20%20%20%20%20%3Cg%20stroke%3D%22blue%22%20stroke-width%3D%225%22%20vector-effect%3D%22non-scaling-stroke%22%20fill%3D%22none%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2230%22%20%20%2F%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%0D%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0D%0A%20%20%20%20%3C%2Fsvg%3E);
}

.turn-info-panel,
.game-over-panel {
    width: 100%;
    padding: 20px 5px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.turn-info-panel p,
.game-over-panel p {
    font-weight: bold;
    color: #444;
    line-height: 30px;
}

.game-over-panel button {
    appearance: none;
    box-shadow: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: blue;
    color: white;
    cursor: pointer;
    height: 40px;
}
